.wrapped-colored {
    background-color: var(--primary);
    width: 100%;
}

.banner {
    padding-top: 15px;
    font-size: 0;
}

.nav {
    padding-top: 15px;
    padding-bottom: 20px;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 30px;
    margin-left: 30px;
}

.nav a:first-child {
    margin-left: 60px;
}

.nav-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 10px 15px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 65px;
}

.nav-button:hover {
    background-color: #66b2b5;
    color: #FFFFFF;
    transition: 0.3s;
}

.content-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    max-width: 490px;
    width: 100%;
}

.banner h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner p {
    max-width: 416px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
}

.button-info {
    padding: 15px 25px;
    background-color: var(--secondary);
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 25px;
}

.button-info:hover {
    background-color: #FFFFFF;
    color: #66b2b5;
    transition: 0.3s;
}

.arrows {
    display: flex;
    justify-content: flex-end;
}

.arrow-left {
    background-image: url("../images/arrow-left.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 25px 30px;
    cursor: pointer;
}

.arrow-right {
    background-image: url("../images/arrow-right.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 25px 30px;
    cursor: pointer;
}

.sections {
    display: flex;
}

.sections div {
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    max-width: 324px;
    padding: 24px 0;
    width: 100%;
    background-color: var(--secondary);
    cursor: pointer;
}

.sections div:first-of-type {
    max-width: 648px;
}

.sections .active {
    background-color: var(--primary);
}