@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
        /* Если не получилось, загрузит woff2 */
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
        /* Если не получилось, загрузит woff2 */
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
        /* Если не получилось, загрузит woff2 */
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/Gilroy-Medium.woff") format("woff");
}

body {
    font-family: Gilroy, sans-serif;
}

.container {
    width: 1325px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}


