.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.logo-lines {
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    padding: 19px 35px;
}

.tel {
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    padding: 40px 30px;
}

.dropdown {
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    padding: 40px 65px 40px 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown::before{
    content: url("../images/dropdown.png");
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.vision-button {
    display: flex;
    align-items: center;
    padding: 10px 15px 8px;
    background-color: var(--secondary);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.vision-button i {
    margin-right: 10px;
    font-size: 22px;
}

.vision-button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.3s;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials a {
    font-size: 21px;
    color: var(--primary);
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    padding: 38px 30px;
    background-color: transparent;
}

.socials a:hover {
    background-color: var(--primary);
    color: #FFFFFF;
    transition: 0.3s;
}

.first-icon {
    border-left: 1px solid rgba(196, 196, 196, 0.5);
}